#myForm{
	background-color: 	#FFE4E1;
    background-position: 100%;
	width:100%;
	min-height:500px;
	text-align:center;
	padding-top: 120px;
	color: 	#DB7093;
	font-weight: bold;
    font-size: 25px;
	font-family: Parisienne;

}

#searchbar{
	margin-top: 10px;
	margin-left: 30px;
	padding:15px;
	border-radius: 10px;
	background-color: #FFF0F5;
	text-align: center;
	font-weight: bold;
}

input[type=text] {
	width: 30%;
	-webkit-transition: width 0.15s ease-in-out;
	transition: width 0.15s ease-in-out;
}


input[type=text]:focus {
	width: 70%;
}

#list{
	font-size: 2em;
	margin-left: 90px;
	
}